<!--Form for displaying message to user after user's email address has been collected-->
{% extends 'sponsor/base.html' %}
{% load static %}

{% block content %}
<div class="pwd_reset_container">
  <p><a>We've emailed you the link for re-setting your password. In case the email does not arrive in a few minutes, please check your spam folder.</a></p>
<p><a>If clicking the link doesn't work, please copy and paste the URL in a new browser window instead</p>
  <br>
  <a href="{% url 'index' %}">Back to Login Page</a>
</div>

{% endblock %}
