<!--Form used by the user to enter the email address to which thethe password reset email is sent to-->
{% extends 'sponsor/base.html' %}
{% load static %}

{% block content %}
<div class="pwd_reset_container">
<p><a>Forgot your password?</a></p>
  <p><a>Please enter your email address below. You will receive an email instructions for re-setting your password.<a></p>

  <form action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
      <p>{{ form.email }}</p>
	<button class="reset_btn" type="submit" >Reset password</button>
  </form>
</div>
{% endblock %}
