<div  class="card">
      <div class="card-header bg-transparent">
        <div>
          <div id="id-tag">
            <h7 id="trial-id" class="text-right text-muted mt-auto">TRIAL_ID</h7>
          </div>

          <div id="tag">
            <span id="virtual-tag" class="badge badge-primary">virtual</span>
            <span id="virtual-tag" class="badge badge-secondary">Recruitment Ended</span>
          </div>
        </div>
      </div>

      <div class="card-body">
        <h5 class="card-title">A Very Very Long Trial Title Here That Explains What the Trial is About and Just goes On and On</h5>
      </div>

      <div class="card-footer bg-transparent">
        <div class="row">
          <div class="card-text col-sm-4">
            <small id="more-info" class="small text-left text-muted">Location: Pittsburg, PA</small>
            <small id="more-info" class="small text-left text-muted">Contact: Eli Lily</small>
            <small id="more-info" class="small text-left text-muted">Email: eli@hentech.edu</small>
          </div>

          <div id="target" class="col-sm-4">
            <span id="target-span">
              <h6 class="text-center text-muted">250/200</h6>
            </span>
          </div>

          <div id="date" class="col-sm-4">
            <span id="date-span">
              <h6 class="text-right text-muted">Mar 3, 2020 - Apr 6,2020</h6>
            </span>
          </div>

        </div>

      </div>
</div>