<!DOCTYPE html>
<html>
<head>
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}

{% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" rel="stylesheet">
   	<link href="{% static 'sponsor/css/style.css' %}" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>
		Trial Update Pane
	</title>
</head>

<body>
    <main>
		<div class="container-fluid" id="content">
            <form method="post" target="_parent">
                {% csrf_token %}
				{{ form.media }}
                {{form.as_p}}
                <button class="btn btn-success w-25" type="submit" id="edit_button">Edit Trial</button>
				<!--<button class="btn btn-success startbtn" type="submit" href="/sponsor/starttrial/{{ clinicaltrial.id }}">Start Trial3</button>-->
				
            </form>
            <br>
            <br>
        </div>
	</main>
</body>
</html>
