{% extends "sponsor/base.html" %}
{% load static %}

{% block scripts %}
    <script type="text/javascript" src="{% static "sponsor/js/criteria_investigation.js" %}"></script>
{% endblock %}
{% block content %}

    <div id="criteria-search">
    <form id="criteria-lookup-form">
    <label for="criteria-lookup">Choose Criteria</label>
    <input type="text" id="criteria-lookup" name="criteria-lookup"><br><br>
    <input type="submit" value="Submit">
    </form>
    </div>
    <div id="selected-criteria">
        <form id="selected-criteria-form">
            <label>Selected Criteria</label><br><br>
        </form>
    </div>


{% endblock %}
