{% extends "sponsor/base.html" %}
{% load static %}

{% block scripts %}
    <link href="{% static 'sponsor/css/dummy.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static "sponsor/js/dummy.js" %}"></script>
{% endblock %}
{% block content %}


<div class="page-container">
    <div class="row">
        <div class="col-lg-6">
            {% include "sponsor/components/trial_dashboard/navbar.html" %}
                <div class="row trial-cards scrollbar scrollbar-lady-lips">
                 {% include "sponsor/components/trial_dashboard/trialcard.html" %}
                 {% include "sponsor/components/trial_dashboard/trialcard.html" %}
                 {% include "sponsor/components/trial_dashboard/trialcard.html" %}
                 {% include "sponsor/components/trial_dashboard/trialcard.html" %}
                 {% include "sponsor/components/trial_dashboard/trialcard.html" %}
                 {% include "sponsor/components/trial_dashboard/trialcard.html" %}
                    {% include "sponsor/components/trial_dashboard/trialcard.html" %}
                    {% include "sponsor/components/trial_dashboard/trialcard.html" %}
                    {% include "sponsor/components/trial_dashboard/trialcard.html" %}
                    {% include "sponsor/components/trial_dashboard/trialcard.html" %}
                    {% include "sponsor/components/trial_dashboard/trialcard.html" %}
                    {% include "sponsor/components/trial_dashboard/trialcard.html" %}
                    </div>

        </div>




        <div class="col-lg-6">
            {% include "sponsor/components/trial_dashboard/trial_title.html" %}
            <div class="trial-cards">
            <p>asdffasdfasdfsadfasdfasdfasdfasdfsadfasdfasdf</p>
            </div>
        </div>









    </div>
</div>


{% endblock %}
