{% extends "sponsor/base.html" %}
{% load static %}

{% block scripts %}
    <link href="{% static 'sponsor/css/dummy.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static "sponsor/js/dummy.js" %}"></script>
{% endblock %}
{% block content %}


<div class="container-fluid">
    <div class="row">




        <div class="col">
            {% include "sponsor/components/trial_dashboard/navbar.html" %}
            {% include "sponsor/components/trial_dashboard/trialcard.html" %}
            {% include "sponsor/components/trial_dashboard/trialcard.html" %}
            {% include "sponsor/components/trial_dashboard/trialcard.html" %}
            {% include "sponsor/components/trial_dashboard/trialcard.html" %}
            {% include "sponsor/components/trial_dashboard/trialcard.html" %}

        </div>




        <div class="col">
            Container Right
        </div>









    </div>
</div>


{% endblock %}
