{% extends "sponsor/base.html" %}
{% load static %}

{% block scripts %}
    <link href="{% static 'sponsor/css/dummy.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static "sponsor/js/dummy.js" %}"></script>
{% endblock %}
{% block content %}


<div class="page-container">
    <div class="row">
        <div class="col-lg-6">
            {% include "sponsor/components/trial_dashboard/navbar.html" %}
                <div class="row trial-cards scrollbar scrollbar-lady-lips">
                 {% include "sponsor/components/trial_dashboard/trialcard.html" %}
                 {% include "sponsor/components/trial_dashboard/trialcard.html" %}
                 {% include "sponsor/components/trial_dashboard/trialcard.html" %}
                 {% include "sponsor/components/trial_dashboard/trialcard.html" %}
                 {% include "sponsor/components/trial_dashboard/trialcard.html" %}
                 {% include "sponsor/components/trial_dashboard/trialcard.html" %}
                    {% include "sponsor/components/trial_dashboard/trialcard.html" %}
                    {% include "sponsor/components/trial_dashboard/trialcard.html" %}
                    {% include "sponsor/components/trial_dashboard/trialcard.html" %}
                    {% include "sponsor/components/trial_dashboard/trialcard.html" %}
                    {% include "sponsor/components/trial_dashboard/trialcard.html" %}
                    {% include "sponsor/components/trial_dashboard/trialcard.html" %}
                    </div>

        </div>




        <div class="col-lg-6">
            {% include "sponsor/components/trial_dashboard/trial_title.html" %}
            <div class="trial-cards">
                <div>
                    <h2 id="dashboard-trial-title" class="text-center">Novartis Heart Study</h2><div id="virtual-tag"><sup class="border border-primary rounded">virtual</sup></div>
                    <h5 class="text-muted text-center">4/1/2020 - 4/1/2021</h5>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <h6>Objective</h6>
                        <p class="text-muted">asdffasdfasdfsadfasdfasdfasdfasdfsadfasdfasdf</p>
                        <br>
                        <h6>Description</h6>
                        <p class="text-muted">asdffasdfasdfsadfasdfasdfasdfasdfsadfasdfasdf</p>
                        <br>
                        <h5>Criteria</h5>
                        <h6>Inclusion</h6>
                        <ul>
                            <li>something >= something else</li>
                        </ul>
                        <h6>Exclusion</h6>
                        <ul>
                            <li>another thing = something</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <p>asdffasdfasdfsadfasdfasdfasdfasdfsadfasdfasdf</p>
                    </div>

                </div>



            </div>
        </div>









    </div>
</div>


{% endblock %}
