{% extends "sponsor/base.html" %}
{% load static %}
{% block title %}Add Eligibility Criteria{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<h3 id="add_criteria"><strong>Add Eligibility Criteria for Trial ID:</strong> {{ clinicaltrial.custom_id }}</h3>
<h4 id="add_criteria"><strong>Trial Name:</strong> {{ clinicaltrial.title }}</h4>
<!-- <h2 id="add_criteria">Add Eligibility Criteria</h2> -->
  <div class="container-fluid" id="dual-lists">
    {% include 'sponsor/form/duallist.html' %}
  </div>

<!-- Removed fancyform.html for now -->

    <!-- <div id="container-fluid" id="fancyform">
        {% include 'sponsor/form/fancyform.html' %}
    </div> -->
    <!-- <div class="container-fluid" id="radios">
        {% include 'sponsor/form/radionegate.html' %}
    </div> -->
{% endblock %}





<!--

<button onclick="categoryFunction()" class="btn btn-success btn-add" type="button">

-->
