{% extends "sponsor/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Add New Sponsor{% endblock %}
{% block content %}
<div class=' text-center p-5 ' style="color:#4bc5de">
    <h2>Add a New Sponsor</h2>
    <div class="container-fluid">
        <form method="post" novalidate>
            {% csrf_token %}
            <div class="row">
			{{ form.organization|as_crispy_field }}
            </div>
            <button class="btn btn-primary" type="submit">Add Sponsor</button>
        </form>
    </div>
</div>
{% endblock %}
