{% extends "sponsor/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Add New Sponsor{% endblock %}
{% block content %}
<div class="container-fluid"><br>
    <h2 id="create-trial">Add a New Sponsor</h2>
    <div class="container-fluid">
        <form method="post" novalidate>
            {% csrf_token %}
                <div class="col-6">
                    {{ form.organization|as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ form.location|as_crispy_field }}
                </div>
            	<div class="col-4">
                    {{ form.contactPerson|as_crispy_field }}
                </div>
            	<div class="col-4">
                    {{ form.email|as_crispy_field }}
                </div>
            	<div class="col-4">
                    {{ form.phone|as_crispy_field }}
                </div>
            	<div class="col-10">
                    {{ form.notes|as_crispy_field }}
                </div>

            <button class="btn btn-primary" type="submit">Add Sponsor</button>
        </form>
        <br><br><br>
    </div>
</div>
{% endblock %}
