{% extends "sponsor/base.html" %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}
{% load static %}
{% load crispy_forms_tags %}
{% block scripts %}

{% endblock %}
{% block title %}Upload CSV File Containing Trial Questions{% endblock %}
{% block content %}
<br>
<h2 id="create-trial">Upload CSV File Containing Trial Questions</h2>
<br><br>
<div id="upload-question">
      <form id="upload-file" action="" method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}

        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul><br>
        {% endif %}

        
        <input type="file" id="file-uploaded" name="fileUploaded" accept=".csv, text/plain"><br>
        <input type="submit" value="Upload" id="upload-btn">
      </form><br><br>

      <h3 id="create-trial">Instructions for File Upload</h3><br>

        1.   <a href="{% static 'sponsor/sample_file/sample_trial_questions.xlsx' %}" target="_blank">Download</a> sample file.<br>
        2.   Fill out the id, question, valueType, and answer options for each questions.<br>
        3.   Make sure to follow the sample format for answer "options".<br>
        4.   Once completed, save as a CSV file and upload the file.<br><br>

      <a id="return_button" class="btn btn-info returnbtn" href="/sponsor/viewtrials">Return to Dashboard</a>
      <br>

</div>


{% endblock %}
