{% extends "sponsor/base.html" %}
{% load static %}
{% block style %}{% endblock %}
{% block scripts %}{% endblock %}
{% block title %}Sponsor Details{% endblock %}

{% block content %}
<br><h2 id="sponsor-detail-title"><u>Sponsor Details</u></h2><br>
<p><strong>ID:</strong> {{ sponsor.id }}</p>
<p><strong>Name:</strong> {{ sponsor.organization }}</p>
<p><strong>Contact Liason:</strong> {{ sponsor.contactPerson }}</p>
<p><strong>Email:</strong> {{ sponsor.email }}</p>
<p><strong>Phone:</strong> {{ sponsor.phone }}</p>
<p><strong>Location:</strong> {{ sponsor.location}}</p>
<p><strong>Join Date:</strong> {{ sponsor.date_joined }}</p>
{% if not sponsor.dateDeregistered == null %}
<p><strong>Quit Date:</strong> {{ sponsor.dateDeregistered }}</p>
{% endif %}
<p><strong>Notes:</strong> {{ sponsor.notes }}</p>
<p><strong>Accounts:</strong></p>
<ul>
{% for profile in sponsor.user_profiles.all  %}
<li><a href="user/{{ profile.user.id }}">{{ profile.user.username}} - {{ profile.user.email }}</a></li>
{% empty %}
<li>No Accounts Currently Exist For This Sponsor</li>
{% endfor %}
</ul>
{% if user.is_clintwin %}
    <a class="btn btn-info returnbtn" href="{% url 'viewsponsors' %}">Return to Dashboard</a>
    <a class="btn btn-secondary editbtn" href="/sponsor/updateprofile/{{ sponsor.id }}">Edit Sponsor</a>
    <a class="btn btn-danger deletebtn" href="/sponsor/deleteprofile/{{ sponsor.id }}">Delete Sponsor</a>
    <a class="btn btn-success addbtn" href="/sponsor/accountfromsponsor/{{ sponsor.id }}">Add Account</a>
{% else %}
    <a class="btn btn-info returnbtn" href="{% url 'trial_dashboard' %}">Return to Dashboard</a>
    <a class="btn btn-secondary editbtn" href="/sponsor/updateprofile/{{ sponsor.id }}">Edit Sponsor</a>
    {% if user.is_sponsor_admin %}
    <a class="btn btn-success addbtn" href="/sponsor/accountfromsponsoradmin">Add Account</a>
    {% endif %}
{% endif %}
{% endblock %}
