{% extends "sponsor/base.html" %}
{% load static %}
{% block style %}
<!-- <link href="{% static 'sponsor/css/viewtrials.css' %}" rel="stylesheet"> -->
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static "sponsor/js/viewtrials.js"%}?{% now "U" %}"></script>
<script type="text/javascript" src="{% static "sponsor/js/showdetails.js"%}?{% now "U" %}"></script>
{% endblock %}
{% block title %}Trials Dashboard{% endblock %}
{% block content %}
<br>
<h2 id="trial_dashboard">Clinical Trials Dashboard</h2>
<br>
​
<div class="main-cards row">
    <div class="row">
    <div class="col-5">
    <div class="card">
        <table class="table table-bordered table-hover" id='trials'>
            <thead class="thead-light">
                <tr>
                    <th id="trial_id">Trial ID</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Recruitment</th>
                    <th id="end_date">Start Date</th>
                    <th id="end_date">End Date</th>
                </tr>
            </thead>
            <tbody id='trial-list-body'>
            </tbody>
        </table>
    </div>
</div>
<div class="col-7">
    <div class="card" id='trial-details'>
            <br>
        <div id="pane">
                <p>Click on a trial to view details</p>
        </div>
    </div>
</div>
</div>
</div>

{% endblock %}
<!-- <h2>Trial Dashboard</h2>
<br>
<div class="row">
    <div class="col-5">
        <div class="row">
            <div class="col">
                <div class="cardlist" id="cardlist">
                    <label>
                        <input type="radio" name="trialselect" class="card-input-element d-none" value="fake" autocomplete="off" checked>
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title"><i class="fas fa-book-medical fa-lg"></i>  Super Fake Example Trial</h5><small>0/10000000</small>
                            </div>
                            <div class="card-body bg-light flex-row justify-content-between align-items-cent" id="cardinfo_x">
                                <h6 class="card-text">Super Fake Objective</h6>
                                    <p class="card-text">This is here to show what a card will look like once the javasript is working.</p>
                                    <p class="card-text"><small class="text-muted">Start Date: Soon  End Date: Never Target</small></p>
                            </div>
                        </div>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-7">
        <div class="container-fluid bg-light border rounded" id="trialdetail">
            <br>
            <h6>Clinical Trial Details</h6>
            <br>
        </div>
    </div>
</div> -->
