{% extends "sponsor/base.html" %}
{% load static %}
{% block style %}{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static "sponsor/js/viewsponsors.js"%}?{% now "U" %}"></script>
{% endblock %}
{% block title %}View Sponsors{% endblock %}
{% block content %}

<br>
<h2 id="trial_dashboard">View Sponsors</h2>
<br>
<div class="table_container">
    <div class="main-cards row">
          <table class="table table-bordered">
            <thead class="thead-light">
              <tr>
                <th id="spnsr_id">Sponsor ID</th>
                <th>Organization</th>
                <th id="end_date">Date Joined</th>
                <th>Notes</th>
                <th></th>
              </tr>
            </thead>

            <tbody id="sponsor-list-body">
            </tbody>
          </table>
      <!-- <div class="card">Sponsor Details <br><br>
        The goal is to click on the Sponsor ID or anywhere on the row and have this section be polulated with the sponsor's details. <br>
        <br>(The previous code is just commented out so feel free to revert it, if this isn't what we want)
      </div> -->
      <br><br>
    </div>
  </div>
{% endblock %}

    <!-- <table class="table table-striped table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col">Sponsor ID</th>
                <th scope="col">Organization</th>
                <th scope="col">Date Joined</th>
                <th scope="col">Notes     </th>
            </tr>
        </thead>
        {% for sponsor in query_results %}
        <tbody>
        <tr>
            <th scope="row"></th>
            <td>{{ sponsor.sponsor_id }}</td>
            <td>{{ sponsor.organization }}</td>
            <td>{{ sponsor.date_joined }}</td>
            <td>{{ sponsor.notes }}</td>
            <td><button class="btn btn-submit" type="button">View</button></td>
        </tr>
        {% endfor %}
    </table> -->
