{% extends "sponsor/base.html" %}
{% load static %}
{% block style %}{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static "sponsor/js/viewrequests.js"%}?{% now "U" %}"></script>
{% endblock %}
{% block title %}View Criteria Requests{% endblock %}
{% block content %}
<br>
<h2 id="view-all-requests">Sponsor Criteria Requests</h2>
<br>
<br>
<div class="table_container">
    <div class="main-cards row">
          <table class="table table-bordered">
            <thead class="thead-light">
              <tr>
                <th id="spnsr">Sponsor</th>
                <th>Critierion</th>
                <th>Values</th>
                <th>Notes</th>
              </tr>
            </thead>
            <tbody id="request-list-body">
            </tbody>
        </table>
        <br><br>
    </div>
</div>
{% endblock %}
