{% extends "sponsor/base.html" %}
{% load static %}
{% block title %}View Sponsors{% endblock %}
{% block content %}
<div class=' text-center p-5 ' style="color:#4bc5de">
    <h2>View Sponsors</h2>
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col">Sponsor ID</th>
                <th scope="col">Organization</th>
                <th scope="col">Date Joined</th>
                <th scope="col">Notes     </th>
            </tr>
        </thead>
        {% for sponsor in query_results %}
        <tbody>
        <tr>
            <th scope="row"></th>
            <td>{{ sponsor.sponsor_id }}</td>
            <td>{{ sponsor.organization }}</td>
            <td>{{ sponsor.date_joined }}</td>
            <td>{{ sponsor.notes }}</td>
            <td><button class="btn btn-submit" type="button">View</button></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
