{% extends "sponsor/base.html" %}
{% load static %}
<link href="{% static 'sponsor/css/viewtrials.css' %}" rel="stylesheet">
<link href="{% static 'sponsor/css/showdetails.css' %}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://daemonite.github.io/material/css/material.min.css" rel="stylesheet">
{% block scripts %}
<script type="text/javascript" src="{% static "sponsor/js/viewtrials.js" %}"></script>
{% endblock %}
{% block title %}Trials Dashboard{% endblock %}
{% block content %}

<div class="container-fluid">
  <p>Sponsor ID: </p>
  <p>Organization: </p>
</div>

<div class="container-fluid">
    <h2>Clinical Trial Dashboard</h2>
    <br>
    <div class="row">
        <div class="col-6">
            <div class="container-fluid">
                <div class="row flex-row">
                    <div class="col">
                        <div class="container-fluid" id="cardlist">
                            <label>
                                <input type="radio" name="trialselect" class="card-input-element" id="fake" autocomplete="off" checked>
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Super Fake Example Trial</h4>
                                    </div>
                                    <div class="card-body bg-light flex-row justify-content-between align-items-cent" id="cardinfo_x">
                                        <h6 class="card-text">Super Fake Objective</h6>
                                            <p class="card-text">This is here to show what a card will look like once the javasript is working.</p>
                                            <p class="card-text"><small class="text-muted">Start Date: Soon <br>End Date: Never Target <br>Enrollment: 100000000000</small></p>
                                    </div>
                                </div>
                            </label>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="container-fluid bg-light border rounded" id="trialdetail">
                <br>
                <h6>Clinical Trial Details</h6>
                <br>
            </div>
        </div>
    </div>
{% endblock %}



<!--<table class="table table-striped table-bordered table-hover">
    <thead class="thead-light">
        <tr>
            <th scope="col">Trial ID</th>
            <th scope="col">Name</th>
            <th scope="col">Objective/th>
            <th scope="col">Description</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Target Recruitment</th>

        </tr>
    </thead>
    % for trial in trials %
    <tbody>
    <tr>
        <th scope="row"></th>
        <div id="tabledata">
        <td>{{ trial.id }}</td>
        <td>{{ trial.name }}</td>
        <td>{{ trial.currentRecruitment }}</td>
        <td>{{ trial.targetRecruitment }}</td>
        <td>{{ trial.startDate }}</td>
        <td>{{ trial.endDate}}</td>
    </div>
    <td><button class="btn btn-submit" type="button">View</button></td>
</tr>
% endfor %
</table>-->
