.card{
  width: 100vw;
  height: 200px;
  margin-left: 25px;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  background-color: white;
}

.card-header, .card-footer {
  padding: 0.25rem;
  padding-right: 0.5rem;
  padding-bottom: 0;
  border: none;
  margin-bottom: 0;
}

.card-footer {
  padding-top: 0.5rem;
  padding-left: 0;
  margin: 0;
}


.card-title, .card-body{
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.2rem;
  padding-left: 0.3rem;
}

.card-text{
  margin-bottom: 0rem;
  text-align: left;
}

#tag {
  float: right;
}

#id-tag {
  float: left;
  padding-left: 0.3rem;
}

#target-span {
  position:absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

#date-span {
  position:absolute;
  bottom: 0;
  right: 1rem;
  float: left;
  /* left: 0; */
}

#more-info {
  float: left;
  padding-left: 0.5rem;
}

#info {
  padding-left: 1rem;
}
