


.new-trial-subtitle{
    font-size: 36px;
    font-family: Helvetica Medium, sans-serif;
    color: #4bc5ef;
    text-align: center;
    align-content: center;
}

input[type="text"] {
    background-color:rgba(0, 0, 0, 0);
    height:30px;
}


#search{
    align-content: center;
}

div.bottom-nav {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.bottom-nav-link {
    font-size: xx-large; /* changed from 24px */
    font-family: Helvetica Medium, sans-serif;
    color: #4bc5ef;
}

.criteria-item, .ui-menu-item, .select2-results__option {
  font-size: x-large;
  font-weight: lighter;
}


#add_btn {
  font-size: x-large;
  padding-top: 5px;
  padding-bottom: 10px;
  height: 50px;
  width: 100px;
  align-content: center;
}

#criteria-lookup {
  font-size: x-large;
  padding: 10px;
  height: 50px;
  width: 310px;
}

.criteria-item:hover {
  background-color: yellow;
}

svg.bi-x-circle{
    display: none;
}

svg.bi-pencil{
    display: none;
}

rect.btn {
  stroke:#fff;
  fill:#fff;
  fill-opacity:0;
  stroke-opacity:0;
}
