/* Style body color to off-white */
body {
  background-color: #fff9f9;
}

/* Style navbar elements */
#navbar, #navbarDropdown, #contact_us, #navbarLogo {
  background-color: #4bc5ef;
  color: white;
}

/* Styling to keep footer at page bottom */
div.footer {
  background-color: #4bc5ef;
  color: white;
  text-align: center;
  justify-content: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.dropdown-item {
  background-color: white;
  color: #333333;
}


/* Style logo image on login page */
#clintwin360_logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:20%;
  height:20%;
}

/* Center the login form */
#login_form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:25%;
  height:25%;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 2px 4px;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Styling for all buttons */
button {
  background-color: #4bc5ef;
  border-radius: 4px;
  color: white;
  padding: 3px 5px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

span.psw {
  float: right;
}

#greeting, #logout_link {
  text-align: right;
}
