#dashboard-title{
    font-size: 48px;
    font-family: Helvetica Light, sans-serif;
    color: #4bc5ef;
}

.selected-trial-header{
    height: 91px;
    display: flex;
    position:relative;
}

.selected-trial-title{
    align-self: flex-end;
}

.page-container {
    height: 90vh;
    margin: 0;
    padding: 50;
    min-width: 1250px;
}

.trial-cards {
    height: 77vh;
    overflow: hidden;
    overflow-y: auto;
    border: 1px solid gray;
    border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    margin-left: 20px;
    align-content: flex-start;
}

.trial-details {
    height: 77vh;
    overflow: hidden;
    overflow-y: auto;
    border: 1px solid gray;
    border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 15px;
    margin-right: 20px;
    align-content: flex-start;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #00b7ff;
}

.no-trials {
    height: 75vh;
    overflow: hidden;
    overflow-y: auto;
    border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    align-content: flex-start;
}



body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.container-fluid {
    margin: 0;
    padding: 0;
}

.title-left{
    width: 40px;
}

.title-right{
    width: 40px;
}


#dashboard-trial-title {
  font-size: 1.5vw;
}


.tag{
    margin: 1px;
    padding: 2px;
}

.actions-menu {
    position:absolute;
    bottom:0;
    right:20px;
}

/* NEW */
.select2-container .select2-selection--single {
  height: 37px !important;
  border-color: #BDC3C7 !important;
}

#select2-trial-sort-container {
  vertical-align: middle;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 37px !important;
}
/* ===== */



.trial-search {
    bottom: 4px;
    display: inline-block;
    /* vertical-align: middle; */
    font-size: 17px;
}

#trial-search-field{
    height: 36px;
}

.new-trial {
    bottom: 4px;
    display: inline-block;
    /* vertical-align: middle; */
    font-size: 17px;
}


.trial-sort {
    bottom: 4px;
    display: inline-block;
    vertical-align: middle;
    font-size: 17px;
    text-align : center;
    padding-left: 40px;
}

.sort-combo{
    min-width: 175px;
}

.trial-filter {
    bottom: 4px;
    display: inline-block;
    vertical-align: middle;
    font-size: 17px;
    text-align : center;
    padding-left: 40px;
}

.trial-card-tools{
    position: absolute;
    width: 113%;
    bottom: 4px;

}


.glyphicon.glyphicon-plus{
  padding-top: 0;
  background: transparent;
  border: 0;
}

#add-trial {
  position: relative;
  display: inline-block;
  font-size: 17px;
  font-family: Helvetica Medium, sans-serif;
  /* bottom: 2px; */
}


.hilite {
    background-color: yellow;
}

#order-descending{
    display: none;
}
