#dashboard-title{
    font-size: 48px;
    font-family: Helvetica Light, sans-serif;
    color: #4bc5ef;
}

.selected-trial-header{
    height: 91px;
    display: flex;
}

.selected-trial-title{
    align-self: flex-end;
}

.card:hover {
    background: #e1e1e1;
    border-top: 1px solid #d0d0d0;
}

.page-container {
    height: 90vh;
    margin: 0;
    padding: 50;
}

.trial-cards {
    height: 77vh;
    overflow: hidden;
    overflow-y: auto;
    border: 1px solid blue;
    padding: 20px;
    align-content: flex-start;
}

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.container-fluid {
    margin: 0;
    padding: 0;
}

.title-left{
    width: 40px;
}

.title-right{
    width: 40px;
}


#dashboard-trial-title {
  font-size: 1.5vw;
}


.tag{
    margin: 1px;
    padding: 2px;
}

.selected-trial-header {
    position:relative;
}
.actions-menu {
    position:absolute;
    bottom:0;
    right:20px;
}

.trial-search {
    position:absolute;
    bottom: 4px;
    right: -22px;
}

.trial-filter{
    position:absolute;
    bottom: 4px;
    right: 252px;
    display: inline-block;
}

.trial-sort{
    position:absolute;
    bottom: 4px;
    right: 452px;
    display: inline-block;
}

.filter-label{
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-family: Helvetica Medium, sans-serif;
    bottom: -8px;
}

.sort-label{
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-family: Helvetica Medium, sans-serif;
    bottom: -8px;
}

.hilite {
    background-color: yellow;
}
