<div id="selected-trial-header" class="selected-trial-header">


    <div class="new-trial">
      <h4 id="add-trial">Add Trial</h4>
      <a href="{% url 'newtrial' %}">
        <span id="glyph-icon" class="glyphicon glyphicon-edit"></span>
      </a>
    </div>

    <div class="trial-sort">
        <h4 class="sort-label">Sort by</h4>
        <select id="trial-sort" name="trial-sort"  style="width: 150px">
            <option value="title">Title</option>
            <option value="recruitmentStartDate">Recruitment Start Date</option>
            <option value="recruitmentStartDate">Recruitment End Date</option>
            <option value="enrollmentTarget">Target Enrollment</option>
            <option value="current_recruitment">Current Recruitment</option>
        </select>
        <a id="order-ascending" class="set-order" href="#" data-order="ascending"><i class='fas fa-angle-up'></i></a>
        <a id="order-descending" class="set-order"  href="#" data-order="descending"><i class='fas fa-angle-down'></i></a>

    </div>




    <div class="trial-filter">
        <h4 class="filter-label">Filter</h4>
        <select id="trial-filter" name="trial-filter"  style="width: 150px">
            <option value="All" selected>All</option>
            <option value="Draft">Draft</option>
            <option value="Active Recruitment">Active</option>
            <option value="Recruitment Ended">Ended</option>
            <option value="Virtual" data-virtual="true">Virtual</option>
            <option value="Virtual" data-virtual="false">Medical</option>
        </select>
    </div>


    <form class="form-inline trial-search">
      <input id="trial-search" class="form-control mr-sm-2" type="search"  incremental="incremental" onsearch="searchTrials(this)"  placeholder="Search Trials" aria-label="Search">
    </form>
    </div>
