<div id="selected-trial-header" class="selected-trial-header">
    <div class="dropdown show actions-menu">
        <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Actions
        </a>

  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
    <a id="start-trial-link" class="dropdown-item" href="#">Start Trial</a>
    <a id="end-trial-link" class="dropdown-item" href="#">End Trial</a>
      <a id="criteria-trial-link" class="dropdown-item" href="#">Add Criteria</a>
      <a id="virtual-question-link" class="dropdown-item" href="#">Add Virtual Questions</a>
    <a id="update-trial-link" class="dropdown-item" href="#">Edit Trial</a>
      <a id="delete-trial-link" class="dropdown-item" href="#">Delete Trial</a>
  </div>
</div>
    </div>