<div class="card mt-2">
  <div class="card-body">
      <div class="row">
      <div class="col-9">
        <h5 class="card-title">Novartis Heart Study
        <small class="text-muted">4/1/2020 - 4/1/2021</small>
        </h5>
      </div>
      <div class="col-3">
        <h5 class="text-muted text-right">100/500</h5>
      </div>
      </div>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec est mi, elementum et auctor eget, vulputate sit amet leo. Aenean pretium fringilla dolor, quis rhoncus nulla iaculis eu.</p>
  </div>
</div>