{% extends "sponsor/base.html" %}
{% load static %}
{% block title %}Add Eligibility Criteria Detail{% endblock %}
<!-- <link href="{% static 'sponsor/css/style.css' %}" rel="stylesheet"> -->
{% load crispy_forms_tags %}
{% block scripts %}
<script>
    let trial_param;
    {% if user.is_clintwin %}
        trial_param = "";
    {%  else %}
        trial_param = "?sponsor_id=" + {{ user.profile.sponsor.id }};
    {% endif %}
</script>
<script src="{% static 'sponsor/js/dynamicform.js' %}"></script>
<!-- <script src="{% static 'sponsor/js/addcriteria.js' %}"></script> -->
<script type="text/javascript" src="{% static "sponsor/js/addcriteria.js"%}?{% now "U" %}"></script>
{% endblock %}

{% block content %}
<div class="container-fluid"><br>
    <h2 id="create-criteria">Add Criterion Details</h2>

  <!-- <div class="modal-body"> -->
    <div id="new_criteria_form">
        <form method="post" novalidate>
            {% csrf_token %}
                    {{ form.criteria|as_crispy_field }}
                    {{ form.trial|as_crispy_field }}
                    {{ form.value|as_crispy_field }}
                    {{ form.comparison|as_crispy_field }}
                    {{ form.criteriaType|as_crispy_field }}
                    {{ form.negated|as_crispy_field }}
            <br>
            <button class="btn btn-primary" type="submit" id="create_button">Add Criteria</button>
            <a class="btn btn-secondary deletebtn" id="back_cri" class="btn btn-info returnbtn" href="{% url 'exclusion' %}">Back to Eligibility Criteria</a>
        </form>
        <br>
    </div>
  <!-- </div> -->
</div>
<br><br><br><br>
{% endblock %}
