{% load static %}
{% block style %}
<link href="{% static 'sponsor/css/duallist.css' %}" rel="stylesheet">
<!-- <link href="{% static 'sponsor/css/fancyform.css' %}" rel="stylesheet"> -->
<link href="{% static 'sponsor/css/autocomplete.css' %}" rel="stylesheet">
<link href='https://clinicaltables.nlm.nih.gov/autocomplete-lhc-versions/17.0.2/autocomplete-lhc.min.css' rel="stylesheet">
{% endblock %}
{% block scripts %}
<!-- <script src='https://clinicaltables.nlm.nih.gov/autocomplete-lhc-versions/17.0.2/autocomplete-lhc.min.js'></script> -->
<script src="{% static 'sponsor/js/criteria.js' %}"></script>
<script src="{% static 'sponsor/js/autocomplete.js' %}"></script>
<script src="{% static 'sponsor/js/dynamicform.js' %}"></script>
<script src="{% static 'sponsor/js/addcriteria.js' %}"></script>
{% endblock %}
<br>
<div id="inclusion">
    <div class="row">
      <label id="field">Inclusion and Exclusion Criteria
        <form role="form" autocomplete="off" id="inclusion-form" action="{% url 'add_criteria' %}">
          <div class="entry input-group col-xs-3">
              <input class="form-control" type="text" placeholder="Enter an eligibility criteria" id="criteria_inc" />
              <button id="add_btn" class="btn btn-primary" type="submit">Add</button>
            </div>
        </form>
    </div>
</div>

<!-- Commented out because the nagation of an inclusion criteria makes an exclusion criteria -->
<!-- <div id="exclusion">
  <div class="row">
    <label id="field">Exclusion Criteria
      <form role="form" autocomplete="off" id="exclusion-form" action="{% url 'add_criteria' %}">
        <div class="entry input-group col-xs-9">
          <input class="form-control" type="text" placeholder="Enter a criteria" id="criteria_exc"/>
          <button id="add_btn" class="btn btn-primary" type="submit" >Add</button>
        </div>
      </form>
  </div>
</div> -->
<br>
<br>

<!-- Table showing list of all criteria added to trial -->
<div class="ad-card" id="criteria-list">
  <table class="table table-bordered table-hover" id='criteria-table'>
      <thead class="thead-light">
          <tr>
              <th id="trial_id">Trial ID</th>
              <th id="criteria-name">Criteria Name</th>
              <th>Value</th>
              <th>Comparison</th>
              <th>Criteria Type</th>
          </tr>
      </thead>
      <tbody id='criteria-list-body'>
      </tbody>
  </table>
</div>
<br>
<br>

<script>
autocomplete(document.getElementById("criteria_inc"), searchableCriteria);
autocomplete(document.getElementById("criteria_exc"), searchableCriteria);
</script>
