{% load static %}
{% block style %}
<link href="{% static 'sponsor/css/fancyform.css' %}" rel="stylesheet">
<link href="{% static 'sponsor/css/autocomplete.css' %}" rel="stylesheet">
{% endblock %}
{% block scripts %}
<script src="{% static 'sponsor/js/fancyform.js' %}"></script>
<script src="{% static 'sponsor/js/autocomplete.js' %}"></script>
{% endblock %}
<div id="form-box">
    <i id="prev-btn" class="fas fa-arrow-left"></i>
    <i id="next-btn" class="fas fa-arrow-right"></i>
<div id="input-group">
    <input id="input-field" required>
    <label id="input-label"></label>
    <div id="input-progress"></div>
</div>
<div id="progress-bar"></div>
</div>
